$class_to_override: values;
@import "node_modules/bootstrap/scss/bootstrap"

$accordion-border-color:black;
$accordion-button-focus-box-shadow:0;
$accordion-btn-active-icon: url(http://www.w3.org/2000/svg);