* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  padding: 0;
  background: #000;
  font-family: Netflix Sans, Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body{
  overflow-x: hidden;
}
.header{
  background: transparent !important;
  position: relative;
  z-index: 1000;
}
.bg1-shadow{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#email::placeholder{
  color: #e9e9e9;
  font-weight: 500;
  left: 16px;
  position: relative;
}
.accordion-item button:hover{
  background: #5f5e5e !important;
}
.accordion #email::placeholder{
  font-size: .7em;
  color: #e9e9e9b5;
  font-weight: 400;
  left: 10px;
  bottom: 12px;
  position: relative;
}