/* RESPONSIVE XXLARGE */
@media screen and (min-width: 1400px) {
  /* HEADER START */
  .header-div {
    max-width: 1140px !important;
  }
  /* HEADER END */

  /* MAIN START */
  /* redirect con */
  .container {
    max-width: 1140px !important;
  }
  /* content4 */
  .container-lg {
    max-width: 1140px !important;
  }
  /* MAIN END */
}

/* RESPONSIVE XLARGE */
@media screen and (max-width: 1200px) {
  /* HEADER START */
  /* HEADER END */

  /* MAIN START */
  /* content2 */
  .content2 .screen{
    width: 70% !important;
  }
    /* content3 */
  .content3-list .slide-item {
    width: 290px !important;
    transition: 0.5s;
  }
  .content3-list li {
    width: 290px !important;
    transition: 0.5s;
  }
  .swiper-container .content3-list {
    width: 960px !important;
  }
  /* content4 */
  .content4 .inform {
    width: 40%;
  }
  .content4 .content-bg {
    height: 480px;
  }
  /* buy-content */
  .buy-content{
    padding: 30px 0 !important;
  }
  /* MAIN END */
}

/* RESPONSIVE LARGE */
@media screen and (max-width: 992px) {
  /* HEADER START */
  .logo {
    width: 110px !important;
    transition: 0.7s;
  }
  /* HEADER END */

  /* MAIN START */
  /* content2 */
  .content-block::before {
    width: 290px;
    height: 290px;
  }
  .content2 .caption h2{
    font-size: 24px !important;
  }
  .content2 .caption small{
    font-size: 20px !important;
  }
  .content2 .button .btn{
    min-width: 100px !important;
    padding: 12px 15px !important;
  }
  /* redirect con */
  .redirect-content {
    height: auto !important;
    padding: 25px 0 !important;
  }
  .redirect-content .container {
    max-width: 80% !important;
    padding: 0;
  }
  .redirect-content .col {
    display: grid !important;
  }
  .redirect-content .redirect-logo {
    margin: auto !important;
    width: 180px !important;
  }
  .redirect-content .col .btn {
    margin: auto !important;
    font-weight: 600 !important;
  }

  .redirect-content .col-center {
    margin: auto !important;
    width: auto !important;
    padding: 20px 0 !important;
  }
  .redirect-content h2 {
    margin-bottom: 15px !important;
  }
  /* content3 */
  .content3 {
    padding: 40px 0 !important;
  }
  .swiper-container .content3-list {
    width: 720px !important;
  }
  .content3-list li {
    width: 210px !important;
    transition: 0.5s;
  }
  .content3-list .slide-item {
    width: 210px !important;
    padding: 20px !important;
    transition: 0.5s;
  }
  .slide-item h4 {
    font-size: 24px !important;
  }
  .slide-item small {
    font-size: 16px !important;
  }
  /* content4 */
  .content4 .container-lg {
    padding: 0;
  }
  .content4 .inform {
    flex-wrap: wrap;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.85) !important;
    height: 100%;
    padding: 8% 0 8% 37px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .content4 .content-bg {
    height: 420px;
  }
  .content4 .app-button {
    margin-right: 15px !important;
  }
  .app-button .line {
    left: 30px;
  }
  /* content5 */
  .content5 .content5-logo img{
    width: 212px;
    transition: .5s;
  }
  .content5 h2{
    font-size: 24px;
  }
  .content5 p{
    width: 90% !important;
    font-size: 14px;
  }
  .content5 .screen{
    width: 690px;
    height: 170px;
    transition: .5s;
  }
  /* buy-content */
  .buy-content h2{
    font-size: 24px !important;
  }
  .buy-content small{
    font-size: 14px !important;
  }
  /* MAIN END */
}

/* RESPONSIVE MEDIUM */
@media screen and (max-width: 768px) {
  /* MAIN START */
  /* content2 */
  .content2 .content-block{
    min-height: 300px !important;
  }
  .content-block::before {
    width: 100%;
    height: 240px;
    left: 0px;
  }
  .content2 .caption{
    width: 100% !important;
    text-align: center  !important;
    top: -10px !important;
    left: 5px;
  }
  .content2 .caption h2{
    text-align: center  !important;
    margin-bottom: 0;
    }
  .content2 .caption li{
    background-image: none !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
  .content2 .button .btn{
    position: relative !important;
    bottom: 5px;
    left: -5px !important;
  }

  /* content3 */
  .content3 {
    padding: 30px 0 !important;
  }
  .content3 h2 {
    font-size: 24px !important;
  }
  .content3 small {
    font-size: 18px !important;
  }
  /* content4 */
  .content4 .container-lg {
    max-width: 540px !important;
  }
  .content4 .content-bg {
    z-index: 1 !important;
  }
  .content4 .inform {
    width: 100%;
    padding: 30px 15px 0 15px;
    text-align: center;
  }
  .content4 h2 {
    font-size: 24px !important;
    text-align: center !important;
    margin-bottom: 20px !important;
  }
  .content4 small {
    font-size: 18px !important;
  }
  .content4 li {
    background-image: none !important;
    line-height: 0.6;
  }
  .content4 .phone {
    width: 100%;
    height: 240px;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    z-index: 2 !important;
  }
  .content4 .app-button {
    width: 90% !important;
    margin: 0 !important;
    position: absolute;
    bottom: 12px !important;
    left: 25px !important;
    z-index: 3 !important;
  }
  .app-button .line {
    left: 55px;
  }
  /* content5 */
  .content5 p{
    width: 100% !important;
  }
  /* buy-content */
  .buy-content .container{
    text-align: center !important;
  }
  .buy-content h2{
    line-height: 1.2 !important;
  }
  .buy-content a{
    margin: 0 !important;
    margin-top: 15px !important;
  }
  /* MAIN END */

  /* FOOTER START */
  .footer .footer-end{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .footer .footer-information{
    margin: 15px 0;
  }
  /* FOOTER END */
}

/* RESPONSIVE SMALL */
@media screen and (max-width: 576px) {
  /* MAIN START */
  /* content4 */
  .content4 .container-lg {
    max-width: 100% !important;
    margin: 0;
  }
  .content4 .inform {
    padding: 30px 0 0 0;
  }
  /* MAIN END */
}

/* RESPONSIVE EXTRA SMALL */
@media screen and (max-width: 500px) {
  /* MAIN START */
  /* content3 */
  .carousel-item .slide-item {
    width: 210px !important;
    padding: 15px !important;
    top: 22px !important;
  }
  /* MAIN END */
}
@media screen and (max-width: 360px) {
  /* MAIN START */
  /* content4 */
  .content4 .app-button{
    width: 100% !important;
    border-radius: 0;
    left: 0 !important;
  }
  .app-button .btn{
    font-size: 12px !important;
  }
  /* MAIN END */
}
